<% provide(:title, '離乳食メモ内容') %>

<%= link_to '<<戻る', calendars_path, class: "back-link" %>
<div class="calendar-show">
  <div class="change-calendar">
      <% if current_user == @calendar.user %>
        <%= link_to "編集", edit_calendar_path(@calendar), class: 'edit-calendar' %>
      <% end %>
    </div>
  <h4 class="calendar-name"><%= @calendar.name %></h4>
</div>