<% provide(:title, "#{@memo.name}") %>

<%= link_to '<<戻る', memos_path, class: "back-link" %>
<div class="container">
  <div class="memo-show">
    <div class="change-memo">
      <% if current_user == @memo.user %>
        <%= link_to "編集", edit_memo_path(@memo), class: 'edit-memo' %>　
      <% end %>
    </div>
    <h2 class="memos-name"><%= @memo.name %></h2>
    <h4 class="memos-description"><%= simple_format(@memo.description) %></h4>
  </div>
</div>