<header class="navbar">
   <%= link_to(image_tag("りにゅーしょく。.png", :alt => ""), root_url, id: 'logo') %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'りにゅーしょく。の使い方', about_path %></li>
      <li><%= link_to 'ユーザー登録', signup_path %></li>
      <li><%= link_to 'ログイン', login_path %></li>
     </ul>
   </nav>
</header>